/* HEADER */
.header2 {
	background-color: #F8F4FC;
	margin-top: 100px;
}
.header__container {
	margin: 0 auto;
	width: 80%;
	color: #354657;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
}
.header-firstline {
	padding-top: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top-menu {
	padding-right: 16rem;
}
.top-menu a {
	text-decoration: none;
	font-weight: 700;
	padding-right: 2.5rem;
	color: #354657;
}
.top-icons a {
	padding-right: 2rem;
}
.header__breadcrumbs {
	padding-top: 1.1rem;
	padding-bottom: 1.1rem;
	text-align: justify;
	color: #626262;
}
.header__breadcrumbs a {
	color: #626262;
	padding-right: .7rem;
	padding-left: .7rem;
}
.thispage {
	text-decoration: none;
}